
.employeeDetailsWindow-container {
    text-align: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

table {
    min-width: 650;
}

.table_head {
    width: 50px;
    font-weight: bold;
}

.tableCell {
    font-size: 30px;
}

.emp_img {
    width: 200px;
}


